name: Run Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: checkout code
        uses: actions/checkout@v4
      - name: Install uv
        uses: astral-sh/setup-uv@v5
      - name: Install ruff, add --version to disable the default of running check/format
        uses: astral-sh/ruff-action@v3
        with:
          args: "--version"
      - name: Install the project
        run: uv sync --no-dev --group test
      - name: Run tests
        run: make tests
      - name: Check format
        run: make lint
